---
import FormRegister from "../components/FormRegister.astro";
import ListProductsSaved from "../components/ListProductsSaved.vue";
import Product from "../components/Product.vue";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="inicio" description="digita y calcula tus guias">
  <br />
  <a href="/new-guia/" id="btn-new-guia" class="button-style green">Nueva guia</a>
  <br />
  <br />
  <h1 class="text-4xl">Calcula los bultos</h1>
  <br />
  <ListProductsSaved client:only="vue" />
</BaseLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    const $newGuia = document.getElementById("btn-new-guia") as HTMLAnchorElement;

    $newGuia?.addEventListener("click", () => setGuia(""));

    function setGuia(key: string) {
      const input = document.getElementById("guia") as HTMLInputElement | null;
      if (input) {
        input.value = key;
      }
      localStorage.setItem("guiaActiva", key);
    }
  });
</script>
