---
import FormRegister from "../components/FormRegister.astro";
import Product from "../components/Product.vue";
import BaseLayout from "../layout/BaseLayout.astro";
import DotsLogo from '../icons/dots.svg';
---

<BaseLayout title="Nueva guia" description="digita y calcula tus guias">
    <br>
  <a href="/" class="button-style yellow">Ir al Inicio</a>
  <br />
  <br />
  <form id="formPrincipal" class="flex gap-6">
    <div class="flex items-center gap-3">
      <label class="whitespace-nowrap" for="guia">N° Guia</label>
      <input id="guia" type="tel" name="guia" required />
    </div>
	
    <div class="flex gap-3">
      <input class="button-style green" type="submit" value="Agregar" />
      
    </div>
  </form>

  <FormRegister />
  <br>
  <Product client:only="vue" >
    <DotsLogo slot='svgContent' />
  </Product>
</BaseLayout>


<script>
  document.addEventListener('astro:page-load', () => {
    const form = document.getElementById('formPrincipal') as HTMLFormElement
    const dialog = document.getElementById('formDialog') as HTMLDialogElement
    const input = document.getElementById('guia') as HTMLInputElement
    const valorGuardado = localStorage.getItem('guiaActiva')

    const nav = document.querySelector('nav[aria-label="Opciones de filtro"]')!

    const eventosVista: Record<string, string> = {
      'btn-global': 'localStorageUpdate',
      'btn-tipo': 'vista:tipo',
      'btn-bulto': 'vista:bulto',
    }

    nav?.addEventListener('click', (e) => {
      const target = (e.target as HTMLElement).closest('button')
      if (!target || !target.id || !(target.id in eventosVista)) return

      // Quitar clase .green a todos los botones hijos
      nav
        .querySelectorAll('button')
        .forEach((btn) => btn.classList.remove('green'))

      // Agregar clase .green al botón activo
      target.classList.add('green')

      // Lanzar el evento correspondiente
      const evento = eventosVista[target.id]
      
      window.dispatchEvent(new CustomEvent(evento))
    })

    if (input && valorGuardado) {
      input.value = valorGuardado
    }

    form?.addEventListener('submit', (e) => {
      e.preventDefault()

      if (form.checkValidity()) {
        dialog.showModal()
        localStorage.setItem(
          'guiaActiva',
          document.querySelector<HTMLInputElement>('#guia')?.value || '',
        )
      } else {
        form.reportValidity()
      }
    })
  })
</script>
